In [1]:
import pandas as pd
import requests 
import html5lib
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen
from bs4 import BeautifulSoup 
import re 
from datetime import datetime, timedelta
import csv
import os

### Firstly randomly subsample data on airline flight performance downloaded from the Bureau of Transportation Statistics.

In [ ]:
years = [2016, 2017, 2018]
months = [1, 3, 9,  12]

for year in years:
    for month in months:
        zipref = ZipFile("C:\\Users\\Ollie\\Downloads\\On_Time_Reporting_Carrier_On_Time_Performance_1987_present_" + f"{year}_"+f"{month}.zip","r") 
        zipref.extractall("C:\\Users\\Ollie\\Desktop\\BSE\\Courses\\Foundations of Data Science\\Project\\Data")
        print(f'{year}{month} Completed')

In [3]:
years = [2016, 2017, 2018]
months = [1, 3, 9,  12]

full_dfs=[]

for year in years:
    for month in months:
        df = pd.read_csv("C:\\Users\\Ollie\\Desktop\\BSE\\Courses\\Foundations of Data Science\\Project\\Data\\On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_" + f"{year}_"+f"{month}"+".csv", dtype=object) 
        full_dfs.append(df)
        print(f'{year}{month} Completed')

20161 Completed
20163 Completed
20169 Completed
201612 Completed
20171 Completed
20173 Completed
20179 Completed
201712 Completed
20181 Completed
20183 Completed
20189 Completed
201812 Completed

In [8]:
rs_dfs = []

for dfr in full_dfs:
    rs_df = dfr.sample(frac=0.1)
    rs_dfs.append(rs_df)

In [11]:
df  = pd.concat(rs_dfs)

In [12]:
df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
155166,2016,1,1,13,3,2016-01-13,WN,19393,WN,N475WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418846,2016,1,1,3,7,2016-01-03,EV,20366,EV,N15574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169038,2016,1,1,18,1,2016-01-18,WN,19393,WN,N8642E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82111,2016,1,1,20,3,2016-01-20,AS,19930,AS,N619AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166443,2016,1,1,17,7,2016-01-17,WN,19393,WN,N206WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411181,2018,4,12,7,5,2018-12-07,DL,19790,DL,N937DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464783,2018,4,12,11,2,2018-12-11,UA,19977,UA,N852UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28852,2018,4,12,17,1,2018-12-17,WN,19393,WN,N7821L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202979,2018,4,12,7,5,2018-12-07,MQ,20398,MQ,N853AE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381300,2018,4,12,8,6,2018-12-08,AA,19805,AA,N811NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
keep = ['Year', 'Month', 'DayofMonth', 'DayofWeek', 'FlightDate', 'DOT_ID_Reporting_Airline', \
        'IATA_CODE_Reporting_Airline', 'OriginAirportID', 'Origin', 'OriginCityName', 'OriginStateName', \
       'OriginWac', 'DestAirportID', 'Dest', 'DestCityName', 'DestStateName', 'DestWac', 'CRSDepTime', \
       'DepDelay', 'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'CRSArrTime', 'ArrDelay', \
       'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk', 'Cancelled', 'CancellationCode', 'Flights', \
        'Distance', 'DistanceGroup', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', \
        'LateAircraftDelay']

In [ ]:
full_df = pd.DataFrame()

In [ ]:
full_df.to_csv('flight_data.csv', index=False)

In [ ]:
URL = "https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time"
r = requests.get(URL)
print(r.content)

In [ ]:
soup = BeautifulSoup(r.content, 'html5lib') # If this line causes an error, run 'pip install html5lib' or install html5lib
print(soup.prettify())

In [ ]:
# find all a href links available on this page
file_urls = soup.findAll('a', href=True)

links = []
years = [2018, 2017]

for year in years:
    for link in file_urls:
        spec_link = link['href']
        if spec_link.endswith(f'{year}.zip') or spec_link.endswith(f'{year}.ZIP'):
            links.append(spec_link)

In [ ]:
links

In [ ]:
### remove first 10 file links and final file link as these belong to data from 2018 and 2016

del links[0:10]
del links[-1:]

In [ ]:
links

In [ ]:
# download all the files corresponding to those href links, unzip, and 
# make into a pandas dataframe. Note: files are in .asc format.

In [ ]:
full_df = pd.DataFrame()
url= 'https://www.bts.gov'

for link in links:
    #open url
    resp = urlopen(url+link)
    #read zipfile
    zipfile = ZipFile(BytesIO(resp.read()))
    #get the asc file name.
    fname = zipfile.namelist()[0]
    #convert to pandas dataframe
    df = pd.read_csv(zipfile.open(fname), delimiter = '|', dtype=object, header=None)
    zipfile.close()
    
    full_df = pd.concat([full_df, df], ignore_index=True, sort=False)

    print(f'{fname} Completed')

In [ ]:
full_df.head()
full_df.tail()

In [ ]:
full_df.to_csv('flight_data.csv', index=False)

In [ ]:
### Scrape historical weather data from Weather Underground. 

def scrape_station(station):
    current_date = datetime(year=2014, month=7, day=1)
    end_date = datetime(year=2015, month=7, day=1)

    # Make sure a directory exists for the station web pages
    os.mkdir(station)

    # Use .format(station, YYYY, M, D)
    lookup_URL = 'http://www.wunderground.com/history/airport/{}/{}/{}/{}/DailyHistory.html'

    while current_date != end_date:

        if current_date.day == 1:
            print(current_date)

        formatted_lookup_URL = lookup_URL.format(station,
                                                 current_date.year,
                                                 current_date.month,
                                                 current_date.day)
        html = urlopen(formatted_lookup_URL).read().decode('utf-8')

        out_file_name = '{}/{}-{}-{}.html'.format(station, current_date.year,
                                                  current_date.month,
                                                  current_date.day)

        with open(out_file_name, 'w') as out_file:
            out_file.write(html)

        current_date += timedelta(days=1)

In [ ]:
# Scrape the stations that appear in the flights dataset
for station in ['KCLT', 'KCQT', 'KHOU', 'KIND', 'KJAX',
                'KMDW', 'KNYC', 'KPHL', 'KPHX', 'KSEA']:
    scrape_station(station)