# FDS Project - Predicting Flights Delays using Flight and Weather Data

## Preliminaries

In [58]:
import pandas as pd
import numpy as np
import requests 
import html5lib
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen
from bs4 import BeautifulSoup 
import os
import re 
from datetime import datetime, timedelta
import csv
import urllib.request
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

## Constructing the Dataset

### Note: the code in this section uses local file paths in order to construct the dataset. Please do not run locally if you wish to avoid using local disk space on your machine and/or a lengthy run time. The code for cleaning the dataset is located in [Section 5](#hashtag_suffix)), and the analysis is found in the accompanying R-script.

First I acquire flight data from...on...

In [2]:
#set seed 
np.random.seed(666)

In [255]:
years = [2016, 2017, 2018]
months = [1, 3, 9,  12]

for year in years:
    for month in months:
        zipref = ZipFile("C:\\Users\\Ollie\\Downloads\\On_Time_Reporting_Carrier_On_Time_Performance_1987_present_" + f"{year}_"+f"{month}.zip","r") 
        zipref.extractall("C:\\Users\\Ollie\\Desktop\\BSE\\Courses\\Foundations of Data Science\\Project\\Data")
        print(f'{year}{month} Completed')

20161 Completed
20163 Completed
20169 Completed
201612 Completed
20171 Completed
20173 Completed
20179 Completed
201712 Completed
20181 Completed
20183 Completed
20189 Completed
201812 Completed

In [256]:
years = [2016, 2017, 2018]
months = [1, 3, 9,  12]

full_dfs=[]

for year in years:
    for month in months:
        df = pd.read_csv("C:\\Users\\Ollie\\Desktop\\BSE\\Courses\\Foundations of Data Science\\Project\\Data\\On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_" + f"{year}_"+f"{month}"+".csv", dtype=object) 
        full_dfs.append(df)
        print(f'{year}{month} Completed')

20161 Completed
20163 Completed
20169 Completed
201612 Completed
20171 Completed
20173 Completed
20179 Completed
201712 Completed
20181 Completed
20183 Completed
20189 Completed
201812 Completed

In [298]:
rs_dfs = []

for dfr in full_dfs:
    rs_df = dfr.sample(frac=0.0015)
    rs_dfs.append(rs_df)

In [299]:
df  = pd.concat(rs_dfs)

In [300]:
keep = ['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate', 'DOT_ID_Reporting_Airline', \
        'IATA_CODE_Reporting_Airline', 'OriginAirportID', 'Origin', 'OriginCityName', 'OriginStateName', \
       'OriginWac', 'DestAirportID', 'Dest', 'DestCityName', 'DestStateName', 'DestWac', 'CRSDepTime', \
       'DepDelay', 'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'CRSArrTime', 'ArrDelay', \
       'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk', 'Cancelled', 'CancellationCode', 'Flights', \
        'Distance', 'DistanceGroup', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', \
        'LateAircraftDelay']

In [301]:
df_flght = df[keep]

In [302]:
df_flght.to_csv('C:\\Users\\Ollie\\Desktop\\BSE\\Courses\\Foundations of Data Science\\Project\\Code\\FDS-project\\Flight_Data.csv', index=False)

In [2]:
df_flght= pd.read_csv('C:\\Users\\Ollie\\Desktop\\BSE\\Courses\\Foundations of Data Science\\Project\\Code\\FDS-project\\Flight_Data.csv')

In [3]:
df_flght.shape

(8777, 38)

### Download weather data from weather underground corresponding to the IATA airport code and flight date.

In [5]:
pd.to_datetime(df_flght['FlightDate'], format = '%Y-%m-%d')

0      2016-01-11
1      2016-01-21
2      2016-01-27
3      2016-01-28
4      2016-01-25
          ...
8772   2018-12-20
8773   2018-12-19
8774   2018-12-04
8775   2018-12-29
8776   2018-12-29
Name: FlightDate, Length: 8777, dtype: datetime64[ns]

In [4]:
### Scrape historical weather data from Weather Underground. 

def scrape_station(station, date):
    # Use .format(station, YYYY, M, D)
    URL = 'http://www.wunderground.com/history/daily/{}/date/{}-{}-{}.html'
    
    #Format date components.
    date_year = int(date[0:4])
    date_month = int(date[5:7])
    date_day = int(date[8:10])
    
    #format URl
    formatted_URL = URL.format(station, date_year, date_month, date_day)
    
    #Scrape weather data for specified station on specified date. 
    driver = webdriver.Chrome()
    driver.get(formatted_URL)
    driver.minimize_window()
    tables = WebDriverWait(driver,5).until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "table")))
    #Table 0 contains the data that we want. Hourly data is available in the second table.
    newTable = pd.read_html(tables[0].get_attribute('outerHTML'))
    return(newTable[0])

In [8]:
airports = set(list(df_flght['Origin']))
gr_flght=df_flght.groupby(by='Origin')

for airport in airports:
    df_airport_dates = []
    dates = set(list(gr_flght.get_group(airport)['FlightDate']))
    airport_code = 'K' + airport
    for date in dates:
        try:
            df_airport_date = scrape_station(airport_code, date)
            df_airport_date['FlightDate'] = np.tile(date, len(df_airport_date))
            if df_airport_date.shape[1] == 6:
                df_airport_date.columns = ["Stats", "1", "2", "3", "4", "FlightDate"]
            elif df_airport_date.shape[1] == 11:
                df_airport_date.columns = ["Stats", "1", "2", "3", "4", "5", "6", "7", "8", "9", "FlightDate"]
            df_airport_date.reset_index(drop=True)
            df_airport_date = df_airport_date.pivot(index=["FlightDate"], columns=["Stats"], values =["1"])
            df_airport_date['Origin'] = np.tile(airport, len(df_airport_date))
            print(f'{airport}-{date}: done')
            df_airport_dates.append(df_airport_date)
        except Exception as e:
            print(f'{airport}-{date} error: {e}')
            continue
    try:
        df_airport_dates = pd.concat(df_airport_dates)
    except Exception as e:
        print(f'error:{e}')
        continue
    df_airport_dates.to_csv(f'{airport}_data.csv', index=True)
    print(f'{airport}: complete')

MCI-2017-12-29: done
MCI-2018-09-07: done
MCI-2017-01-23: done
MCI-2016-03-30: done
MCI-2018-01-23: done
MCI-2016-12-26: done
MCI-2018-01-16: done
MCI-2018-12-21: done
MCI-2016-01-25: done
MCI-2018-09-03: done
MCI-2018-09-16: done
MCI-2018-09-04: done
MCI-2018-09-10: done
MCI-2018-09-17: done
MCI-2016-09-20: done
MCI-2017-03-23: done
MCI-2018-03-24: done
MCI-2018-01-24: done
MCI-2018-12-08 error: Message:

MCI-2017-03-10: done
MCI-2018-12-20: done
MCI-2017-03-06: done
MCI-2018-01-29: done
MCI-2016-03-13: done
MCI-2017-03-08: done
MCI-2018-01-30: done
MCI-2016-09-30: done
MCI-2017-12-21: done
MCI-2017-01-18: done
MCI-2018-01-18: done
MCI-2016-09-07: done
MCI-2016-03-27: done
MCI-2017-09-24: done
MCI-2018-12-01 error: Index contains duplicate entries, cannot reshape
MCI-2016-09-28: done
MCI-2018-09-11: done
MCI-2017-12-08: done
MCI-2017-12-19: done
MCI-2016-03-15: done
MCI-2016-12-13: done
MCI-2018-09-23: done
MCI-2016-03-16: done
MCI-2018-03-18: done
MCI-2018-03-04: done
MCI-2017-09-20: done
MCI-2018-09-12: done
MCI-2017-09-17: done
MCI-2018-03-19 error: Index contains duplicate entries, cannot reshape
MCI-2017-09-22: done
MCI-2017-09-26: done
MCI-2016-03-19: done
MCI-2016-09-12: done
MCI-2018-03-08: done
MCI-2016-01-29: done
MCI-2018-09-29: done
MCI-2016-09-02 error: Index contains duplicate entries, cannot reshape
MCI-2017-01-09: done
MCI: complete
MEM-2017-09-13: done
MEM-2017-09-30: done
MEM-2018-01-22: done
MEM-2018-09-05: done
MEM-2017-01-01 error: Index contains duplicate entries, cannot reshape
MEM-2017-09-10: done
MEM-2017-09-19: done
MEM-2018-09-13: done
MEM-2017-01-27: done
MEM-2017-01-26: done
MEM-2018-09-02: done
MEM-2018-09-03: done
MEM-2018-01-06: done
MEM-2016-09-26: done
MEM-2016-01-20: done
MEM-2018-03-20: done
MEM: complete
LWB-2018-09-27: done
LWB: complete
SAN-2016-12-01: done
SAN-2018-01-23: done
SAN-2017-01-26: done
SAN-2017-03-18: done
SAN-2017-03-17: done
SAN-2018-12-08: done
SAN-2018-03-22: done
SAN-2018-12-16: done
SAN-2017-12-12: done
SAN-2018-12-04: done
SAN-2017-01-01: done
SAN-2016-12-27: done
SAN-2017-03-08: done
SAN-2018-12-23: done
SAN-2017-03-26 error: Index contains duplicate entries, cannot reshape
SAN-2017-09-28: done
SAN-2017-09-24: done
SAN-2017-01-02: done
SAN-2018-09-30: done
SAN-2018-01-26: done
SAN-2016-09-14: done
SAN-2018-12-03: done
SAN-2016-03-25: done
SAN-2016-09-25: done
SAN-2017-09-10: done
SAN-2017-03-02: done
SAN-2017-03-05: done
SAN-2017-12-02: done
SAN-2016-03-08: done
SAN-2018-03-17: done
SAN-2016-12-03: done
SAN-2017-09-05: done
SAN-2018-01-07: done
SAN-2017-12-23: done
SAN-2016-12-21: done
SAN-2018-01-13: done
SAN-2018-01-01: done
SAN-2017-03-12 error: Index contains duplicate entries, cannot reshape
SAN-2017-12-27: done
SAN-2018-09-21: done
SAN-2018-01-18: done
SAN-2018-09-18: done
SAN-2016-03-27: done
SAN-2017-12-24: done
SAN-2018-01-19 error: Message:

SAN-2018-01-22: done
SAN-2017-01-13: done
SAN-2016-01-13: done
SAN-2018-09-12: done
SAN-2017-12-18: done
SAN-2016-12-18: done
SAN-2017-03-30: done
SAN-2017-12-22: done
SAN-2016-12-30 error: Message:

SAN-2016-09-19: done
SAN-2016-01-16: done
SAN-2016-01-05: done
SAN-2016-03-30: done
SAN-2016-09-13: done
SAN-2018-03-25: done
SAN-2018-12-17: done
SAN-2017-01-31: done
SAN-2018-12-30: done
SAN-2018-09-15: done
SAN-2016-03-12: done
SAN-2016-09-04: done
SAN-2016-01-15: done
SAN-2018-01-02: done
SAN-2017-03-20: done
SAN-2016-12-06: done
SAN-2016-03-13: done
SAN-2017-03-29: done
SAN-2016-09-26: done
SAN-2017-09-30: done
SAN-2018-12-25: done
SAN-2016-03-18: done
SAN-2018-09-05: done
SAN-2017-01-15: done
SAN-2018-03-30: done
SAN-2018-03-05: done
SAN-2016-12-16: done
SAN-2018-01-11: done
SAN-2018-03-03: done
SAN-2016-03-10: done
SAN-2016-09-09: done
SAN-2018-01-06: done
SAN-2018-03-07: done
SAN-2017-01-14: done
SAN-2016-09-02: done
SAN-2017-12-29: done
SAN-2016-12-05: done
SAN-2018-12-21: done
SAN-2018-09-16: done
SAN-2018-12-09: done
SAN-2017-01-25: done
SAN-2017-09-06: done
SAN-2017-01-30: done
SAN-2016-03-11: done
SAN-2017-03-07: done
SAN-2018-09-23: done
SAN-2016-12-14: done
SAN-2017-03-16: done
SAN-2016-01-18 error: Index contains duplicate entries, cannot reshape
SAN-2016-03-19: done
SAN-2016-09-21 error: Index contains duplicate entries, cannot reshape
SAN-2017-12-03: done
SAN: complete
EAU-2018-09-30: done
EAU-2016-12-27: done
EAU: complete
JAX-2018-01-16: done
JAX-2018-12-17: done
JAX-2016-09-15: done
JAX-2017-01-26: done
JAX-2017-03-18: done
JAX-2016-09-11: done
JAX-2018-12-02: done
JAX-2017-12-11: done
JAX-2016-12-21: done
JAX-2018-12-16: done
JAX-2018-01-02: done
JAX-2016-09-01: done
JAX-2017-01-17: done
JAX-2017-03-29: done
JAX-2018-01-03: done
JAX-2018-12-25: done
JAX-2016-09-28: done
JAX-2016-12-25: done
JAX-2018-12-07: done
JAX-2016-03-15: done
JAX-2016-12-16: done
JAX-2018-09-25: done
JAX-2018-01-11: done
JAX-2016-01-22: done
JAX-2016-01-08: done
JAX-2018-01-15: done
JAX-2018-03-28 error: Index contains duplicate entries, cannot reshape
JAX-2018-09-12: done
JAX-2016-09-25: done
JAX-2017-09-25: done
JAX-2017-09-22: done
JAX-2017-03-11: done
JAX-2016-09-29: done
JAX-2016-03-04: done
JAX-2018-09-06: done
JAX-2016-09-09: done
JAX-2016-09-12: done
JAX-2017-12-03: done
JAX-2017-01-14: done
JAX: complete
BTV-2018-01-13: done
BTV-2018-09-14: done
BTV-2017-03-22: done
BTV-2018-03-17: done
BTV-2018-12-03: done
BTV-2018-12-18: done
BTV: complete
SMF-2017-12-29: done
SMF-2016-12-19: done
SMF-2016-12-01: done
SMF-2016-12-17: done
SMF-2018-12-02: done
SMF-2017-12-31: done
SMF-2016-01-23: done
SMF-2016-03-23: done
SMF-2016-12-23: done
SMF-2018-12-18: done
SMF-2018-12-31: done
SMF-2016-01-19: done
SMF-2017-12-28: done
SMF-2017-12-12: done
SMF-2017-09-09: done
SMF-2018-03-27: done
SMF-2016-01-10 error: Index contains duplicate entries, cannot reshape
SMF-2017-12-15: done
SMF-2016-12-06: done
SMF-2018-01-29: done
SMF-2017-12-07: done
SMF-2017-03-25: done
SMF-2017-12-13: done
SMF-2018-01-30: done
SMF-2017-12-27: done
SMF-2018-09-09: done
SMF-2016-09-05: done
SMF-2016-12-02: done
SMF-2016-03-06: done
SMF-2016-01-01: done
SMF-2016-01-26: done
SMF-2016-03-31: done
SMF-2016-12-20: done
SMF-2017-12-24: done
SMF-2018-09-08: done
SMF-2018-12-01: done
SMF-2018-09-11: done
SMF-2018-09-24: done
SMF-2016-09-14: done
SMF-2016-01-02: done
SMF-2018-01-15: done
SMF-2018-03-26: done
SMF-2016-12-14: done
SMF-2018-03-18: done
SMF-2017-01-04: done
SMF-2017-12-18: done
SMF-2016-12-28: done
SMF-2017-09-22: done
SMF-2017-09-10: done
SMF-2016-09-08: done
SMF-2017-09-26: done
SMF-2017-01-10: done
SMF-2017-09-07: done
SMF-2016-09-21: done
SMF-2018-12-24: done
SMF-2016-12-08: done
SMF-2016-09-09: done
SMF-2018-03-11: done
SMF-2016-01-29: done
SMF-2018-09-28: done
SMF-2018-01-17: done
SMF-2018-03-14: done
SMF: complete
STS-2018-09-09: done
STS-2017-12-02: done
STS: complete
GEG-2016-01-05: done
GEG-2016-12-26: done
GEG-2018-12-17: done
GEG-2016-12-03: done
GEG-2017-01-28: done
GEG-2017-03-19: done
GEG-2017-09-05: done
GEG-2018-09-17: done
GEG-2016-09-04: done
GEG-2018-01-13: done
GEG-2016-09-30: done
GEG-2017-09-15: done
GEG-2018-03-01: done
GEG-2018-01-11: done
GEG-2018-09-12: done
GEG-2017-09-10: done
GEG-2016-09-29: done
GEG-2018-09-25: done
GEG-2018-03-16: done
GEG: complete
RDD-2017-12-16: done
RDD-2018-03-24: done
RDD: complete
GRB-2017-01-31: done
GRB-2018-12-05: done
GRB-2018-12-10: done
GRB-2016-09-27: done
GRB: complete
TPA-2016-12-01: done
TPA-2016-09-15: done
TPA-2017-12-31: done
TPA-2018-12-02: done
TPA-2018-09-03: done
TPA-2018-09-04: done
TPA-2017-01-29: done
TPA-2018-12-16: done
TPA-2016-01-19: done
TPA-2018-12-04: done
TPA-2017-01-01 error: Index contains duplicate entries, cannot reshape
TPA-2017-03-08: done
TPA-2017-12-13: done
TPA-2017-09-02: done
TPA-2016-03-24: done
TPA-2016-01-01: done
TPA-2018-12-26: done
TPA-2017-09-24: done
TPA-2016-03-15: done
TPA-2016-09-14: done
TPA-2016-01-11: done
TPA-2017-09-10: done
TPA-2016-09-10: done
TPA-2018-01-25: done
TPA-2016-09-29: done
TPA-2017-03-28: done
TPA-2016-03-09: done
TPA-2017-12-14: done
TPA-2018-09-25: done
TPA-2016-03-02: done
TPA-2016-12-04: done
TPA-2017-12-02: done
TPA-2016-09-11: done
TPA-2018-03-13: done
TPA-2016-12-21: done
TPA-2017-12-27: done
TPA-2018-01-22: done
TPA-2016-09-16: done
TPA-2017-09-12 error: Index contains duplicate entries, cannot reshape

TPA-2018-03-20: done
TPA-2017-12-18: done
TPA-2018-12-27: done
TPA-2016-03-17: done
TPA-2017-01-09: done
TPA-2018-12-06: done
TPA-2018-03-25: done
TPA-2016-12-26: done
TPA-2017-01-31: done
TPA-2017-01-19: done
TPA-2018-03-29: done
TPA-2017-03-20: done
TPA-2018-12-10: done
TPA-2016-12-06 error: Index contains duplicate entries, cannot reshape
TPA-2016-03-13: done
TPA-2017-03-25: done
TPA-2018-09-09: done
TPA-2016-12-02: done
TPA-2017-12-17: done
TPA-2016-09-22: done
TPA-2016-03-18: done
TPA-2018-03-03: done
TPA-2017-09-26: done
TPA-2017-12-06: done
TPA-2018-12-24: done
TPA-2016-09-09: done
TPA-2018-09-29: done
TPA-2018-09-28: done
TPA-2018-09-10: done
TPA-2018-01-14: done
TPA-2016-03-29: done
TPA-2016-01-06: done
TPA-2017-12-28: done
TPA-2017-09-09: done
TPA-2017-12-16: done
TPA-2016-09-07: done
TPA-2018-03-21: done
TPA-2016-01-26: done
TPA-2016-12-20: done
TPA-2018-09-08: done
TPA-2018-09-01: done
TPA-2016-01-31: done
TPA-2016-03-11: done
TPA-2017-03-07: done
TPA-2018-01-15: done
TPA-2017-09-08: done
TPA-2016-09-18: done
TPA-2016-03-19: done
TPA-2017-09-07: done
TPA-2016-09-21: done
TPA-2017-01-11 error: Index contains duplicate entries, cannot reshape
TPA-2016-01-29: done
TPA: complete
ONT-2018-09-14: done
ONT-2016-12-05: done
ONT-2018-03-23: done
ONT-2017-01-19: done
ONT-2018-12-30: done
ONT-2016-01-21: done
ONT-2017-12-01: done
ONT-2016-09-04: done
ONT-2016-01-20: done
ONT-2018-12-09: done
ONT-2016-12-02: done
ONT-2016-01-26: done
ONT-2018-01-03: done
ONT-2018-09-05: done
ONT-2017-03-04: done
ONT-2016-03-25: done
ONT-2016-03-16: done
ONT-2018-09-12: done
ONT-2016-03-10: done
ONT-2016-09-19: done
ONT-2017-09-26: done
ONT-2018-01-25: done
ONT-2016-12-12: done
ONT-2017-12-09: done
ONT-2016-01-14: done
ONT-2016-01-29 error: Index contains duplicate entries, cannot reshape
ONT-2016-01-24: done
ONT-2017-09-16: done
ONT-2018-03-14: done
ONT: complete
CVG-2018-12-06: done
CVG-2017-12-02: done
CVG-2018-09-19: done
CVG-2018-01-14: done
CVG-2016-01-25: done
CVG-2017-09-05: done
CVG-2017-03-19: done
CVG-2018-09-27: done
CVG-2017-01-06: done
CVG-2018-09-16: done
CVG-2018-09-17: done
CVG-2018-09-29: done
CVG-2018-09-26: done
CVG-2018-12-16: done
CVG-2018-01-13: done
CVG-2017-03-06: done
CVG-2017-12-04: done
CVG-2016-12-09: done
CVG-2017-09-28: done
CVG-2018-12-13: done
CVG-2016-09-27: done
CVG-2018-01-03: done
CVG-2016-09-28: done
CVG-2018-09-24: done
CVG-2018-09-01: done
CVG-2018-01-21: done
CVG-2018-09-20: done
CVG-2016-01-22: done
CVG-2018-12-03: done
CVG-2017-03-16: done
CVG-2017-09-17: done
CVG-2016-01-04: done
CVG-2017-12-10: done
CVG-2018-12-28: done
CVG-2018-09-06: done
CVG-2017-01-21: done
CVG-2016-01-29: done
CVG-2016-01-24: done
CVG-2018-09-10: done
CVG: complete
MDT-2016-09-13: done
MDT-2016-03-20: done
MDT-2018-09-01: done
MDT-2018-12-28: done
MDT-2017-09-07: done
MDT-2018-12-23: done
MDT: complete
ORH-2017-12-25: done
ORH-2018-01-12: done
ORH-2018-01-23: done
ORH: complete
ECP-2018-01-02: done
ECP-2017-09-22: done
ECP-2016-09-28: done
ECP-2016-03-08: done
ECP-2018-09-19: done
ECP-2017-01-19: done
ECP-2018-09-08: done
ECP-2016-01-13: done
ECP-2016-12-29: done
ECP-2016-01-06: done
ECP-2016-12-23: done
ECP: complete
ORD-2016-12-01: done
ORD-2018-01-23: done
ORD-2018-03-09: done
ORD-2016-09-15: done
ORD-2017-01-26: done
ORD-2017-03-18: done
ORD-2017-12-31: done
ORD-2018-09-03: done
ORD-2018-12-02: done
ORD-2017-01-06: done
ORD-2017-03-21: done
ORD-2018-01-12: done
ORD-2017-01-29: done
ORD-2018-09-04: done
ORD-2018-09-17: done
ORD-2017-03-24: done
ORD-2018-12-08: done
ORD-2018-03-22: done
ORD-2018-09-26: done
ORD-2018-03-02: done
ORD-2018-12-16: done
ORD-2018-12-31: done
ORD-2018-12-04: done
ORD-2017-01-01: done
ORD-2016-12-27: done
ORD-2018-01-10: done
ORD-2017-03-08: done
ORD-2018-12-23: done
ORD-2017-09-02: done
ORD-2016-03-24: done
ORD-2017-03-26: done
ORD-2016-01-01: done
ORD-2017-09-28: done
ORD-2017-03-31: done
ORD-2018-12-26: done
ORD-2017-09-24: done
ORD-2018-09-11: done
ORD-2017-01-02: done
ORD-2018-09-30: done
ORD-2018-01-26: done
ORD-2018-01-21: done
ORD-2016-09-14: done
ORD-2017-03-01: done
ORD-2017-09-21: done
ORD-2016-01-08: done
ORD-2017-09-14: done
ORD-2017-01-22: done
ORD-2017-09-17: done
ORD-2016-09-25: done
ORD-2017-09-10: done
ORD-2016-09-10: done
ORD-2018-12-19: done
ORD-2016-09-29: done
ORD-2017-03-28: done
ORD-2016-09-12 error: Index contains duplicate entries, cannot reshape
ORD-2017-03-02: done
ORD-2017-12-14: done
ORD-2018-03-15: done
ORD-2018-09-25: done
ORD-2016-03-02: done
ORD-2017-03-05: done
ORD-2016-01-28: done
ORD-2016-12-19: done
ORD-2017-12-02: done
ORD-2016-03-08: done
ORD-2016-09-11: done
ORD-2017-01-28: done
ORD-2017-03-19: done
ORD-2017-09-05: done
ORD-2018-01-07: done
ORD-2018-03-13: done
ORD-2017-12-23: done
ORD-2018-03-24: done
ORD-2018-01-13: done
ORD-2018-01-01: done
ORD-2017-12-15: done
ORD-2017-03-12: done
ORD-2017-12-04: done
ORD-2017-09-11: done
ORD-2017-12-30: done
ORD-2018-01-28 error: Index contains duplicate entries, cannot reshape
ORD-2017-12-27: done
ORD-2017-12-25: done
ORD-2017-01-17: done
ORD-2018-01-18: done
ORD-2018-09-21: done
ORD-2018-09-18: done
ORD-2018-12-05: done
ORD-2016-03-27: done
ORD-2018-12-13: done
ORD-2016-03-22: done
ORD-2016-03-01 error: Index contains duplicate entries, cannot reshape
ORD-2018-01-22: done
ORD-2018-12-01: done
ORD-2018-09-24 error: Index contains duplicate entries, cannot reshape
ORD-2016-09-16: done
ORD-2018-09-20: done
ORD-2018-01-27: done
ORD-2016-01-22: done
ORD-2017-09-12: done
ORD-2017-01-12: done
ORD-2017-12-18: done
ORD-2018-03-20: done
ORD-2017-03-30: done
ORD-2016-01-27: done
ORD-2018-03-06: done
ORD-2016-12-30: done
ORD-2016-09-19: done
ORD-2016-12-11: done
ORD-2018-12-11: done
ORD-2016-03-17: done
ORD-2016-09-08: done
ORD-2017-01-20: done
ORD-2018-12-27: done
ORD-2018-12-22: done
ORD-2018-09-06: done
ORD-2018-12-29: done
ORD-2016-01-24: done
ORD-2017-12-11: done
ORD-2018-03-16: done
ORD-2017-01-09: done
ORD-2016-01-16: done
ORD-2018-03-14: done
ORD-2017-03-13: done
ORD-2016-03-30: done
ORD-2016-09-13: done
ORD-2018-09-19: done
ORD-2016-12-26: done
ORD-2018-01-16: done
ORD-2017-12-05: done
ORD-2018-09-14: done
ORD-2018-12-17: done
ORD-2018-12-06: done
ORD-2018-12-30: done
ORD-2018-03-29: done
ORD-2016-01-21: done
ORD-2016-09-04: done
ORD-2018-01-05: done
ORD-2016-09-20: done
ORD-2016-12-23: done
ORD-2017-09-13: done
ORD-2018-12-28: done
ORD-2017-09-04: done
ORD-2016-01-15: done
ORD-2017-03-10: done
ORD-2017-09-03: done
ORD-2018-01-02: done
ORD-2016-09-06: done
ORD-2017-03-25: done
ORD-2018-01-30: done
ORD-2016-09-30: done
ORD-2017-12-21: done
ORD-2018-03-10: done
ORD-2018-01-31: done
ORD-2016-12-02 error: Index contains duplicate entries, cannot reshape
ORD-2017-03-29: done
ORD-2016-09-26: done
ORD-2016-09-22: done
ORD-2016-01-17: done
ORD-2018-12-25: done
ORD-2018-03-01: done
ORD-2018-09-13: done
ORD-2018-03-30 error: Index contains duplicate entries, cannot reshape
ORD-2017-03-22: done
ORD-2017-03-09: done
ORD-2018-03-05: done
ORD-2016-12-16: done
ORD-2018-03-12: done
ORD-2018-01-11: done
ORD-2018-03-26: done
ORD-2018-03-28: done
ORD-2018-12-12: done
ORD-2018-03-18: done
ORD-2016-03-26: done
ORD-2017-01-04: done
ORD-2017-01-05: done
ORD-2016-03-10: done
ORD-2017-01-08: done
ORD-2017-09-26: done
ORD-2018-12-14: done
ORD-2018-12-24: done
ORD-2016-09-09: done
ORD-2018-01-09: done
ORD-2018-01-06: done
ORD-2018-03-07: done
ORD-2018-09-29 error: Index contains duplicate entries, cannot reshape
ORD-2016-09-02: done
ORD-2018-09-28: done
ORD-2016-12-05: done
ORD-2018-01-14: done
ORD-2018-12-21: done
ORD-2016-01-25: done
ORD-2016-03-29: done
ORD-2016-09-23: done
ORD-2016-01-06: done
ORD-2016-01-20: done
ORD-2017-03-23: done
ORD-2018-12-18: done
ORD-2018-01-24: done
ORD-2017-12-28: done
ORD-2018-01-08: done
ORD-2017-03-06: done
ORD-2018-03-27: done
ORD-2017-09-19: done
ORD-2017-12-07: done
ORD-2017-09-06: done
ORD-2017-01-18 error: Index contains duplicate entries, cannot reshape
ORD-2016-09-05: done
ORD-2016-01-26: done
ORD-2018-09-22: done
ORD-2018-03-31: done
ORD-2017-03-15: done
ORD-2018-09-08: done
ORD-2017-12-19: done
ORD-2018-09-01: done
ORD-2017-01-30: done
ORD-2016-03-11: done
ORD-2018-01-15: done
ORD-2018-09-23: done
ORD-2016-03-16: done

ORD-2017-03-16: done
ORD-2016-01-18: done
ORD-2018-03-19: done
ORD-2016-12-28: done
ORD-2017-03-11: done
ORD-2016-03-19: done
ORD-2017-01-10: done
ORD-2016-12-12: done
ORD-2017-09-07: done
ORD-2016-03-03: done
ORD-2016-03-21: done
ORD-2016-09-21: done
ORD-2016-03-07: done
ORD-2017-01-11: done
ORD-2017-03-14: done
ORD-2017-12-09: done
ORD-2018-12-15: done
ORD: complete
BIS-2018-01-29: done
BIS-2016-01-21: done
BIS-2018-09-13: done
BIS-2017-09-19: done
BIS: complete
AVL-2018-09-14: done
AVL-2017-12-02: done
AVL-2017-09-19: done
AVL-2017-09-06: done
AVL: complete
IDA-2018-01-05: done
IDA-2016-01-24: done
IDA-2017-03-08: done
IDA-2017-12-23: done
IDA: complete
GSP-2016-12-01: done
GSP-2018-03-27: done
GSP-2016-12-17: done
GSP-2018-03-17: done
GSP-2017-03-02: done
GSP-2018-03-15: done
GSP-2016-03-31: done
GSP-2018-09-26: done
GSP: complete
PIA-2016-09-26: done
PIA-2016-03-28: done
PIA-2017-03-04: done
PIA-2018-12-17: done
PIA: complete
MFE-2017-09-02: done
MFE-2018-01-12: done
MFE-2016-01-16: done
MFE-2018-01-14: done
MFE: complete

In [9]:
# Now figure out how to merge these into one dataset with column name Origin with airport number, then merge
# on Origin and Date, then save as a CSV.

In [40]:
test_df = pd.read_csv('C:\\Users\\Ollie\\Desktop\\BSE\\Courses\\Foundations of Data Science\\Project\\Code\\FDS-project\\MEM_data.csv', 
                     header = 1)

#df['A'].str.contains('A1|B2|C3')
#.columns.str.replace('test', 'Col_TEST')

In [17]:
test_df.columns[test_df.columns.str.contains('Unnamed')]

rankings_pd.rename(columns = {'test':'TEST', 'odi':'ODI',
                              't20':'T20'}, inplace = True)

Index(['Unnamed: 23'], dtype='object')

In [37]:
test_df.columns[test_df.columns.str.contains('Precipitation')][-1]

'Precipitation (past 24 hours from 11:54:00)'

In [41]:
test_df.rename(columns = {'Stats': 'FlightDate', test_df.columns[test_df.columns.str.contains('Unnamed')][0]: 'Origin', \
               test_df.columns[test_df.columns.str.contains('Precipitation')][-1]: 'Precipitation'}, inplace = True)

In [42]:
test_df.columns

Index(['FlightDate', 'Actual Time', 'Astronomical Twilight', 'Average',
       'Civil Twilight', 'Day Average Temp', 'Dew Point', 'High', 'High Temp',
       'Low', 'Low Temp', 'Max Wind Speed', 'Moon: waning crescent',
       'Moon: waning gibbous', 'Moon: waning half last qtr',
       'Moon: waxing crescent', 'Moon: waxing gibbous', 'Nautical Twilight',
       'Precipitation (past 24 hours from 05:54:00)',
       'Precipitation (past 24 hours from 06:54:00)', 'Precipitation',
       'Sea Level Pressure', 'Visibility', 'Origin'],
      dtype='object')

In [47]:
test_df = test_df.iloc [1:, ]

In [48]:
test_df

,FlightDate,Actual Time,Astronomical Twilight,Average,Civil Twilight,Day Average Temp,Dew Point,High,High Temp,Low,...,Moon: waning half last qtr,Moon: waxing crescent,Moon: waxing gibbous,Nautical Twilight,Precipitation (past 24 hours from 05:54:00),Precipitation (past 24 hours from 06:54:00),Precipitation,Sea Level Pressure,Visibility,Origin
1,2017-09-13,12h 28m,NaN,62.91,NaN,66.02,62.91,64.0,72.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.86,29.50,10.0,MEM
2,2017-09-30,11h 51m,NaN,49.96,NaN,71.00,49.96,54.0,80.0,45.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,29.86,10.0,MEM
3,2018-01-22,10h 12m,NaN,43.13,NaN,55.94,43.13,54.0,63.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.68,29.52,10.0,MEM
4,2018-09-05,12h 46m,NaN,70.81,NaN,80.00,70.81,74.0,89.0,67.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,29.77,10.0,MEM
5,2017-09-10,12h 35m,NaN,53.96,NaN,71.38,53.96,57.0,81.0,50.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,29.90,10.0,MEM
6,2017-09-19,12h 15m,NaN,70.75,NaN,80.13,70.75,74.0,90.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.05,29.64,10.0,MEM
7,2018-09-13,12h 29m,NaN,69.50,NaN,79.96,69.50,74.0,90.0,66.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,29.76,10.0,MEM
8,2017-01-27,10h 21m,NaN,23.38,NaN,40.21,23.38,25.0,50.0,21.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,29.85,10.0,MEM
9,2017-01-26,10h 19m,NaN,27.54,NaN,39.92,27.54,29.0,45.0,25.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,29.83,10.0,MEM
10,2018-09-02,12h 52m,NaN,71.29,NaN,83.17,71.29,73.0,93.0,70.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,29.77,10.0,MEM
11,2018-09-03,12h 50m,NaN,71.00,NaN,84.15,71.00,72.0,91.0,69.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,29.83,10.0,MEM
12,2018-01-06,9h 54m,NaN,11.17,NaN,30.17,11.17,14.0,38.0,9.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,30.21,10.0,MEM
13,2016-09-26,11h 59m,NaN,61.30,NaN,72.07,61.30,72.0,78.0,52.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,29.78,10.0,MEM
14,2016-01-20,10h 9m,NaN,29.97,NaN,34.56,29.97,32.0,39.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.28,29.86,10.0,MEM
15,2018-03-20,12h 7m,NaN,43.07,NaN,48.00,43.07,49.0,56.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.18,29.58,10.0,MEM

In [53]:
keep = ['FlightDate', 'Day Average Temp', 'High Temp', 'Low Temp', 'Max Wind Speed', 'Precipitation', 'Sea Level Pressure', \
        'Origin']

In [54]:
test_df_final = test_df[keep]

In [55]:
test_df_final

,FlightDate,Day Average Temp,High Temp,Low Temp,Max Wind Speed,Precipitation,Sea Level Pressure,Origin
1,2017-09-13,66.02,72.0,62.0,12.0,0.86,29.50,MEM
2,2017-09-30,71.00,80.0,65.0,16.0,NaN,29.86,MEM
3,2018-01-22,55.94,63.0,47.0,26.0,0.68,29.52,MEM
4,2018-09-05,80.00,89.0,75.0,22.0,NaN,29.77,MEM
5,2017-09-10,71.38,81.0,62.0,15.0,NaN,29.90,MEM
6,2017-09-19,80.13,90.0,70.0,12.0,0.05,29.64,MEM
7,2018-09-13,79.96,90.0,70.0,10.0,NaN,29.76,MEM
8,2017-01-27,40.21,50.0,31.0,20.0,NaN,29.85,MEM
9,2017-01-26,39.92,45.0,36.0,21.0,NaN,29.83,MEM
10,2018-09-02,83.17,93.0,74.0,14.0,NaN,29.77,MEM
11,2018-09-03,84.15,91.0,76.0,16.0,NaN,29.83,MEM
12,2018-01-06,30.17,38.0,23.0,13.0,NaN,30.21,MEM
13,2016-09-26,72.07,78.0,65.0,21.0,NaN,29.78,MEM
14,2016-01-20,34.56,39.0,33.0,12.0,0.28,29.86,MEM
15,2018-03-20,48.00,56.0,44.0,17.0,0.18,29.58,MEM

In [65]:
directory_list = os.listdir()

In [76]:
directory_list = os.listdir()
airports = []
for i in directory_list:
    if i[-9:] == '_data.csv': 
       airports.append(i[:-9])

.git
eckpoints
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
ing.ipynb
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_Data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
Notes.txt
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv
_data.csv

In [77]:
airports

['ABE',
 'ABQ',
 'ABR',
 'ABY',
 'ACV',
 'ACY',
 'AEX',
 'AGS',
 'ALB',
 'ALO',
 'ASE',
 'ATL',
 'AUS',
 'AVL',
 'AVP',
 'AZO',
 'BDL',
 'BFL',
 'BGR',
 'BHM',
 'BIL',
 'BIS',
 'BJI',
 'BLI',
 'BMI',
 'BOI',
 'BOS',
 'BPT',
 'BQK',
 'BRD',
 'BRO',
 'BTR',
 'BTV',
 'BUF',
 'BUR',
 'BWI',
 'BZN',
 'CAE',
 'CAK',
 'CDC',
 'CGI',
 'CHO',
 'CID',
 'CIU',
 'CKB',
 'CLE',
 'CLL',
 'CLT',
 'CMH',
 'CMX',
 'COS',
 'COU',
 'CPR',
 'CRP',
 'CRW',
 'CSG',
 'CVG',
 'CWA',
 'DAB',
 'DAL',
 'DAY',
 'DCA',
 'DFW',
 'DHN',
 'DLH',
 'DSM',
 'DTW',
 'DVL',
 'EAU',
 'ECP',
 'EGE',
 'ELM',
 'ELP',
 'ERI',
 'EUG',
 'EVV',
 'EWR',
 'EYW',
 'FAR',
 'FAT',
 'FAY',
 'FLG',
 'FLL',
 'FNT',
 'FSD',
 'FSM',
 'FWA',
 'GCC',
 'GCK',
 'GEG',
 'GJT',
 'GNV',
 'GPT',
 'GRB',
 'GRI',
 'GRK',
 'GRR',
 'GSO',
 'GSP',
 'GTF',
 'GTR',
 'HDN',
 'HLN',
 'HOB',
 'HOU',
 'HPN',
 'HRL',
 'HSV',
 'HVN',
 'HYS',
 'IAD',
 'IAG',
 'IAH',
 'ICT',
 'IDA',
 'ILM',
 'IND',
 'INL',
 'ISP',
 'JAC',
 'JAN',
 'JAX',
 'JFK',
 'JMS',
 'LAN',
 'LAS',
 'LAX',
 'LBB',
 'LBE',
 'LBL',
 'LCH',
 'LCK',
 'LEX',
 'LFT',
 'LGA',
 'LGB',
 'LIT',
 'LNK',
 'LRD',
 'LSE',
 'LWB',
 'MBS',
 'MCI',
 'MCO',
 'MDT',
 'MDW',
 'MEM',
 'MFE',
 'MFR',
 'MHT',
 'MIA',
 'MKE',
 'MLB',
 'MLI',
 'MLU',
 'MMH',
 'MOB',
 'MOT',
 'MRY',
 'MSN',
 'MSO',
 'MSP',
 'MSY',
 'MTJ',
 'OAK',
 'OKC',
 'OMA',
 'ONT',
 'ORD',
 'ORF',
 'ORH',
 'OWB',
 'PBG',
 'PBI',
 'PDX',
 'PGD',
 'PHF',
 'PHL',
 'PHX',
 'PIA',
 'PIB',
 'PIE',
 'PIT',
 'PLN',
 'PNS',
 'PSC',
 'PSP',
 'PVD',
 'PVU',
 'PWM',
 'RAP',
 'RDD',
 'RDM',
 'RDU',
 'RIC',
 'RKS',
 'RNO',
 'ROA',
 'ROC',
 'ROW',
 'RST',
 'RSW',
 'SAF',
 'SAN',
 'SAV',
 'SBA',
 'SBN',
 'SBP',
 'SDF',
 'SEA',
 'SFB',
 'SFO',
 'SGF',
 'SGU',
 'SHV',
 'SJC',
 'SLC',
 'SLN',
 'SMF',
 'SMX',
 'SNA',
 'SPI',
 'SRQ',
 'STL',
 'STS',
 'SUN',
 'SWO',
 'SYR',
 'TLH',
 'TOL',
 'TPA',
 'TRI',
 'TTN',
 'TUS',
 'TVC',
 'TWF',
 'TXK',
 'TYR',
 'TYS',
 'UIN',
 'VLD',
 'VPS',
 'XNA']

In [81]:
keep = ['FlightDate', 'Day Average Temp', 'High Temp', 'Low Temp', 'Max Wind Speed', 'Precipitation', 'Sea Level Pressure', \
        'Origin']

#Get relevant airport codes from local directory.
directory_list = os.listdir()
airports = []
for i in directory_list:
    if i[-9:] == '_data.csv': 
       airports.append(i[:-9])

store_data = []

for airport in airports: 
    airport_df = pd.read_csv(f'C:\\Users\\Ollie\\Desktop\\BSE\\Courses\\Foundations of Data Science\\Project\\Code\\FDS-project\\{airport}_data.csv', 
                     header = 1)
    airport_df.rename(columns = {'Stats': 'FlightDate', airport_df.columns[airport_df.columns.str.contains('Unnamed')][0]: 'Origin', \
               airport_df.columns[airport_df.columns.str.contains('Precipitation')][-1]: 'Precipitation'}, inplace = True)
    final_airport_df = airport_df[keep]
    final_airport_df = final_airport_df.iloc[1:]
    store_data.append(final_airport_df)

In [85]:
df.reset_index(drop=True, inplace=True) = pd.concat(frames)

SyntaxError: cannot assign to function call (<ipython-input-85-b3569ef182d5>, line 1)

In [86]:
airports_weather = pd.concat(store_data, sort=False)

In [87]:
airports_weather

,FlightDate,Day Average Temp,High Temp,Low Temp,Max Wind Speed,Precipitation,Sea Level Pressure,Origin
1,2018-01-31,23.21,31.0,15.0,13.0,0.09,29.91,ABE
2,2017-09-01,60.13,70.0,50.0,13.0,NaN,29.78,ABE
1,2017-12-27,42.72,55.0,33.0,9.0,NaN,24.93,ABQ
2,2016-03-20,46.26,62.0,32.0,26.0,NaN,24.94,ABQ
3,2017-12-24,42.08,56.0,32.0,9.0,NaN,24.88,ABQ
...,...,...,...,...,...,...,...,...
5,2017-12-01,47.91,57.0,37.0,10.0,NaN,28.86,XNA
6,2018-12-29,28.40,34.0,24.0,10.0,NaN,28.99,XNA
7,2018-12-22,44.75,62.0,31.0,10.0,NaN,28.69,XNA
8,2017-01-28,39.29,49.0,30.0,16.0,NaN,28.76,XNA
9,2018-12-24,40.13,52.0,27.0,21.0,NaN,28.94,XNA

In [89]:
airports_weather.reset_index(drop=True, inplace=True )

In [90]:
airports_weather

,FlightDate,Day Average Temp,High Temp,Low Temp,Max Wind Speed,Precipitation,Sea Level Pressure,Origin
0,2018-01-31,23.21,31.0,15.0,13.0,0.09,29.91,ABE
1,2017-09-01,60.13,70.0,50.0,13.0,NaN,29.78,ABE
2,2017-12-27,42.72,55.0,33.0,9.0,NaN,24.93,ABQ
3,2016-03-20,46.26,62.0,32.0,26.0,NaN,24.94,ABQ
4,2017-12-24,42.08,56.0,32.0,9.0,NaN,24.88,ABQ
...,...,...,...,...,...,...,...,...
6185,2017-12-01,47.91,57.0,37.0,10.0,NaN,28.86,XNA
6186,2018-12-29,28.40,34.0,24.0,10.0,NaN,28.99,XNA
6187,2018-12-22,44.75,62.0,31.0,10.0,NaN,28.69,XNA
6188,2017-01-28,39.29,49.0,30.0,16.0,NaN,28.76,XNA
6189,2018-12-24,40.13,52.0,27.0,21.0,NaN,28.94,XNA

In [ ]:
#Merge the two dataframes on date and origin.

In [ ]:
#if airports don't return on Weather Undeground make a list of airport names that don't return.
# get airport names from here: https://github.com/datasets/airport-codes/tree/master/data. 

#They will return, I just need to add a K to the start of each string to identify it as an airport code.

In [ ]:


## Cleaning the Dataset

## Cleaning the Dataset